<!--The content below is only a placeholder and can be replaced.-->
<div class="title row pl-3">
  <div class="col-12">
    <h1>Find-Dem-Restaurants</h1>
    <p>For indecisive food-cravings, think of all the keywords, we'll do the work for you :)</p>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <nav class="navbar bg-danger navbar-expand-lg">
      <div id="mynav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="search">Keyword Search</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="map">Map of Restaurants</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>


<router-outlet></router-outlet>
